body {
    color: aqua;
}

/* body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
    color: #df2323;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #df2323;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
    color: rgb(223, 9, 9);
}

h2{
    color: rgb(223, 9, 9);
}

#new_entry_h1 {
    color: red;
} */
